.contenedor-formulario {
    display:flexbox;
    width: 70%;
    height: auto;
    border: black 1px solid;
    border-radius: 5px;
    margin: 30px auto;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet,);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
    .textarea {
        margin: 5px 10px;
        border-radius: 10px;
        background-color: #dad1e2;
        width: 60%;
        height: 150px;
        border: black 2px solid;
    }
    .submit {
        background-color: $colorNav;
    }
}