
@import "_reset.scss";
@import "_variables.scss";
@import "_formulario.scss";







body {
    background-color: #e6a2e6;
}

.colorNav {
    background-color: $colorNav;
}

.nav_logo {
    @include display;
    @include width;
    height: 150px;
    background-color: $fondoLogo;

    .logo {
        height: 150px;
        min-height: 75px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.banner {
    @include width;
    height: 250px;
    border: 1px solid violet;
    margin: auto;
    background-size: 100% 100%;
    animation: banner 6s infinite;
}

.scale:hover{
    transform: scale(1.2, 1) !important;
}

h3 {
    text-align: center !important;
}

.input {
    margin: 2px 20px;
    @include display;
}

.estilo-input {
    margin: 5px 10px;
    border-radius: 10px;
    width: 60%;
    height: auto;
    background-color: #dad1e2;
}




/*
.footer {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    color: aqua;

}

.contenedor_footer {
    color: white;
    border: 2px solid black;
    justify-content: flex-end;
}
*/


.container-404{
    text-align: center;
    width: 70%;
    height: auto;
    max-width: 400px;
    background: #fff;
    margin: 200px auto;
    padding: 20px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    line-height: 1.7;
    color: #434343;
    .boton{
        display: inline-block;
        margin-top: 15px;
        text-decoration: none;
        background: #1a84d3;
        color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 15px;
    }
}


@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

@keyframes banner {
    0%, 48%{
        background-image: url(../img/banner_1.webp);
        opacity: 1;
    }
    49%, 52% {
        opacity: 0.1;
    }
    53%, 100% {
        background-image: url(../img/banner_2.webp);
        opacity: 1;
    }

}



